.unslider {
	position: relative;
	overflow: auto; /* This will get overriddden by the jQuery plugin. */
}
	.unslider ul {
		position: relative;
	}
	.unslider li {
		list-style: none;
		
		/* Reset any weird spacing */
		margin: 0;
		padding: 0;
		
		border: none;
	}
		.unslider ul li { /* Use the extra <ul> because <ol> gets used for the dot-nav. */
			float: left;
		}